nav{
     display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-bottom: 50px;
}
.navbar-logo{
   width: 10%;
   /* border:  1px solid; */
   display: flex;
   align-items: center;
}
img{
    width: 90%;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    color: #800080;
}
@media only screen and (max-width: 1148px) and (min-width: 300px)  {
    img{
        width: 90%;
    }
    .navbar-logo{
        width: 30%;
        /* border:  1px solid; */
        display: flex;
        align-items: center;
     }
}