:root {
    --blue1: linear-gradient(270deg, #800080 0%, #ED4C5C 100%);
  }
#cont-1st-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
  width: 486px;
  height: 188px;
  left: 187px;
  top: 179px;
  background: #ffffff;
  box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
#cont-1st-div  p{
    font-size: 14px;
    font-family:sans-serif;
}
#wid-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    color: #ffffff;
    position: absolute;
    width: 180px;
    height: 40px;
    left: 153px;
    top: 119px;
    margin-left: 170px;
    background: #800080;
    border-radius: 20px;


}
#cont-1st-div h2{
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #000000;

}
#cont-2nd-div div{
    margin-top: 10px;
    border: 1px solid #800080;
    letter-spacing: 15px;
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    font-weight: bold;
}
#cont-2nd-div h2{
    font-style: normal;
font-weight: 600;
font-size: 24px;
color: #800080;

}